.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background:#eaecc5;
}
.loginForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 10px;
  background:rgb(255, 187, 0);
  border-radius: 10px;
  box-shadow: 0 0 20px orange;
  text-transform: uppercase;
}
.inputField ,.submitbutton{
  margin: 10px 0;
}
.inputField input {
  border:none;
  border-radius: 10px;
  height: 30px;

}
.inputField input:focus{
  outline:none !important;
  border:1px solid orange;
  box-shadow: 0 0 15px yellow;


}
.inputField input::placeholder {
  padding: 0 5px;

}
.loginForm .btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background:#FFF;
  border:none;
}
.loginForm .btn:hover{
  background:rgb(115, 255, 0);
  box-shadow: 0 0 15px rgb(115, 255, 0);
}
/************************/
.looading{
  background:#eaecc5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.looading .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  background:#ffffff;
  border-radius: 50px;
  box-shadow: 0 0 15px rgb(226, 166, 0);
  text-transform: uppercase;
}
.looading .container button{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: rgb(226, 166, 0);
  box-shadow: 0 0 15px rgb(226, 166, 0);
}
.looading .container button{
  outline:none !important;
}
.looading .container button:hover{
  background:rgb(226, 166, 0);;
}
.user-form input{
  border-radius: 10px;
  border: 2px solid rgb(226, 166, 0);
}
.user-form input{
  outline:none !important;
}
